<!DOCTYPE html>

<html>

<head>
  <title>Timestamp Microservice</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Timestamp Microservice</h1>
  <h2>FCC Backend Project</h2>
  <hr />
  <div class="container">
    <h3>Usage Examples:</h3>
    <ul>
      <p>For Current Date: <a href="api">[project url]/api/</a></p>
      <p>For Specified Date With Format YYYY-MM-DD: <a href="api/2015-12-25">[project url]/api/2015-12-25</a></p>
      <p>For Specified Date From Unix Timestamp: <a href="api/1451001600000">[project url]/api/1451001600000</a></p>
    </ul>

    <h3>Example Output:</h3>
    <p>
      <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
  </div>
</body>

</html>
